.dub
docs.json
__debug_bin
*.exe
*.obj
*.pdb
*.swp
*.dep
.DS_Store
*.lib
*.dll
*.so
*.o
*.a
*.dylib
*.lst
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
bin/
test-results/
cov/
coverage/
*.json-e
test-out.html
doc/comprehensive-out.html
tmp*.adoc
tests/out/
